@page "/tokenmanager"
@inject Services.FetchAuthStatusService FetchAuthStatusService

@using OAuth2.TokenManagement.Client

<h1>Token Manager Example</h1>

<button class="btn btn-primary" @onclick="FetchBearerToken">FetchBearerToken</button>

@if (managedToken != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Authority</td>
                <td>@managedToken.Authority</td>
            </tr>
            <tr>
                <td>ClientId</td>
                <td>@managedToken.ClientId</td>
            </tr>
            <tr>
                <td>AccessToken</td>
                <td>@managedToken.AccessToken</td>
            </tr>
            <tr>
                <td>RefreshToken</td>
                <td>@managedToken.RefreshToken</td>
            </tr>
            <tr>
                <td>ExpiresIn</td>
                <td>@managedToken.ExpiresIn</td>
            </tr>

            <tr>
                <td>ExpirationDate</td>
                <td>@managedToken.ExpirationDate</td>
            </tr>
           

        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="GetManagedToken">GetManagedToken</button>
}

@code {

    private ManagedToken managedToken;
    protected override async Task OnInitializedAsync()
    {
        await FetchAuthStatusService.PingAsync();
    }
    private async Task FetchBearerToken()
    {
        managedToken = await FetchAuthStatusService.FetchFakeBearerTokenAsync();
        StateHasChanged();
    }
    private async Task GetManagedToken()
    {
        managedToken = await FetchAuthStatusService.GetFakeManagedTokenAsync();
        StateHasChanged();
    }
}
